
#container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.left-half {
    position: absolute;
    background-color: #ff9e2c;
    top: 0;
    right: 20%;
    left: 0;
    bottom: 0;
}
.right-half {
    position: absolute;
    background-color: #dddddd;
    top: 0;
    right: 0;
    left: 80%;
    bottom: 0;
}

.top-half {
    position: absolute;
    background-color: #ff2100;
    top: 0;
    right: 0;
    left: 0;
    bottom: 20%;
}
.down-half {
    position: absolute;
    background-color: #eeeeee;
    top: 80%;
    right: 0;
    left: 0;
    bottom: 0;
	padding-left: 10px;
}